/* phim dang chieu */

nav > .nav.nav-tabs {
  border: none;
  color: #fff;
  background: #272e38;
  border-radius: 0;
}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
  border: none;
  padding: 18px 25px;
  color: #fff;
  background: #272e38;
  border-radius: 0;
}

nav > div a.nav-item.nav-link.active:after {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c;
}
.tab-content {
  background: #fdfdfd;
  line-height: 25px;
  border: 1px solid #ddd;
  border-top: 5px solid #e74c3c;
  border-bottom: 5px solid rgb(255, 56, 96);
  padding: 30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border: none;
  background: rgb(255, 56, 96);
  color: #fff;
  border-radius: 0;
  transition: background 0.2s linear;
}

/*********************** Demo - 9 *******************/
.box14 {
  position: relative;
}
.box15,
.box17,
.box18 {
  box-shadow: 0 0 5px #7e7d7d;
  text-align: center;
}
.box14:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.35s ease 0s;
}
.box14:hover:before {
  opacity: 1;
}
.box14 img {
  width: 100%;
  height: auto;
}
.box14 .box-content {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}
.box14 .box-content:after,
.box14 .box-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.7s ease 0s;
}
.box14 .box-content:before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(0, 1);
  transform-origin: 0 0 0;
}
.box14 .box-content:after {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1, 0);
  transform-origin: 100% 0 0;
}
.box14:hover .box-content:after,
.box14:hover .box-content:before {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.15s;
}
.box14 .title {
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  margin: 15px 0;
  opacity: 0;
  transform: translate3d(0, -50px, 0);
  transition: transform 0.5s ease 0s;
}
.box14:hover .title {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.box14 .post {
  font-size: 14px;
  color: #fff;
  padding: 10px;
  background: rgb(255, 56, 96);
  opacity: 0;
  border-radius: 0 19px;
  transform: translate3d(0, -50px, 0);
  transition: all 0.7s ease 0s;
}
.box14 .icon,
.box15 .icon {
  padding: 0;
  list-style: none;
}
.box14:hover .post {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 0.15s;
}
.box14 .icon {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: -10px;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: all 0.7s ease 0s;
}
.box14:hover .icon {
  bottom: 20px;
  opacity: 1;
  transition-delay: 0.15s;
}
.box14 .icon li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  border-radius: 0 10px;
  font-size: 30px;
  color: white;
  margin-right: 5px;
  transition: all 0.4s ease 0s;
}
.box14 .icon li a:hover {
  background: rgb(255, 221, 87);
  border-color: rgb(255, 221, 87);
}
@media only screen and (max-width: 990px) {
  .box14 {
    margin-bottom: 30px;
  }
}
/*********************** Demo - 9 *******************/
/* khuyen mai */

/* JUMP */


/* khuyen mai */
/* TIN TUC  */
.blog-card-blog {
  margin-top: 30px;
}
.blog-card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.blog-card .blog-card-image {
  height: 60%;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.blog-card .blog-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  pointer-events: none;
}
.blog-card .blog-table {
  padding: 15px 30px;
}
.blog-table {
  margin-bottom: 0px;
}
.blog-category {
  position: relative;
  line-height: 0;
  margin: 15px 0;
}
.blog-text-success {
  color: #28a745!important;
}
.blog-card-blog .blog-card-caption {
  margin-top: 5px;
}
.blog-card-caption {
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.blog-card-caption, .blog-card-caption a {
  color: #333;
  text-decoration: none;
}

p {
  color: #3C4857;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.blog-card .ftr {
  margin-top: 15px;
}
.blog-card .ftr .author {
  color: #888;
}


